# Database
DB_ROOT_PASSWORD=root_passwort
DB_NAME=uni_verein
DB_USER=uni_verein_user
DB_PASSWORD=passwort

# JWT
JWT_KEY=SUPER_SECRET_KEY_CHANGE_ME
JWT_ISSUER=uni-verein

# Crypto
CRYPTO_KEY=q1vS3HsULznptaiT2P7UeecvyrXEGBctp07Wnc/Rb70=
HMAC_KEY=q1vS3HsULznptaiT2P7UeecvyrXEGBctp07Wnc/Rb70=

# Frontend
VERSION=1.0.0
DEMO=false